* {
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Vars */
  --background-color: #111;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

h2 {
  width: 100%;
  text-align: center;
}

.sectionWrapper {
  display: flex;
  justify-content: space-around;
}
.section {
  width: 50%;
}

#gyroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
