<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css" />

    <script src="{{ url_for('static',filename='javascript/index.js') }}" defer></script>
    <script src="{{ url_for('static',filename='javascript/gyro.js') }}" defer></script>
    <script src="{{ url_for('static',filename='javascript/graph.js') }}" defer></script>

    <!-- libs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

    <title>RaspberryPi Data</title>
  </head>
  <body>
    <div id="url" data-url="{{ URL }}"></div>
    <h2>RaspberryPi Data</h2>
    <div class="sectionWrapper">
      <div class="section">
        <canvas id="tempChart"></canvas>
      </div>

      <div class="section">
        <canvas id="humidChart"></canvas>
      </div>
    </div>

    <div class="sectionWrapper">
      <div id="gyroSection" class="section">
        <button id="calButton">Click to Calibrate Rotation</button>
        <div id="gyroData">roll: 0, pitch: 0, yaw: 0</div>
      </div>
    </div>
  </body>
</html>
