<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css" />

    <title>Project</title>
  </head>
  <body>
    <div><h2>Title idk</h2></div>
    <div class="graphWrapper">
      <div class="graph">{{ graph|safe }}</div>
      <div class="graph">{{ graph2|safe }}</div>
      <div class="graph">{{ graph3|safe }}</div>
    </div>
  </body>
</html>
